# Related to the shared amplify Backend
src/

# Dependencies
node_modules/

# Gatsby
.cache/
public/

# Environment & secrets
.env*
!.env.example
src/aws-exports.js
codecommit

# OS
.DS_Store
Thumbs.db
*.swp
*~

# IDE
.idea/
.vscode/
*.code-workspace

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
