[submodule "repos/portal"]
	path = repos/portal
	url = https://github.com/DigitalHome-cloud/digitalhome-cloud-portal.git
	branch = main
[submodule "repos/designer"]
	path = repos/designer
	url = https://github.com/DigitalHome-cloud/digitalhome-cloud-designer.git
	branch = main
[submodule "repos/modeler"]
	path = repos/modeler
	url = https://github.com/DigitalHome-cloud/digitalhome-cloud-modeler.git
	branch = main
[submodule "repos/digital-twin-demo"]
	path = repos/digital-twin-demo
	url = https://github.com/DigitalHome-cloud/dhc-digital-twin-demo.git
[submodule "repos/core"]
	path = repos/core
	url = https://github.com/DigitalHome-cloud/digitalhome-cloud-core.git
